.dnd-library-wrapper .editor-item .meta.type-webform {
  background-image: url('icons/Webform-small.png');
}
.scald-menu .add-buttons .add-webform {
  background: url('icons/Webform.png')  no-repeat transparent;
}
